page-login {
    #address {
        //font-weight: ;
        font-family: Gill Sans, sans-serif; 
    }
    .toolbar-background {
        background-color: #5d74a7ad;
      }

    #price-range {
        font-family: Gill Sans, sans-serif; 
        font-size: 19px;
    }

    #range-val {
        font-family: Gill Sans, sans-serif; 
        font-size: 11px;
    }


}