page-profile {

    
    
    #profileImg {
        font-size: 150px;
        align-content: center;
        padding-left: 140px;
        text-align: center;
        color: gray;
    }

    #addProfilePic {
        color: gray;
        width: 30px;
        height: 30px;
    }

    #editprofile {
        color: gray;
    }

    #mailbox {
        color: gray;
    }

    #payment {
        color: gray;
    }
}