<ion-header>
        <ion-navbar>
          <ion-title center>
            My Account
          </ion-title>
          <ion-buttons end>
              <button ion-button icon-only (click)="navigateToLogin()">
                  <ion-icon name="ios-home"></ion-icon>
              </button>
          </ion-buttons>
        </ion-navbar>
 </ion-header>
      
      <ion-content padding center>
      
        <ion-avatar id= "profileImg" (click)="editProfilePic()"><img [src]="base64Image" *ngIf="base64Image" > </ion-avatar>

           
          

          <div padding>
              <ion-segment [(ngModel)]="profile">
                <ion-segment-button value="editprofile" id= "editprofile">
                  Edit 
                </ion-segment-button>
                <ion-segment-button value="payments" id= "payment">
                  Payments
                </ion-segment-button>
                <ion-segment-button value="saved" id= "savedlist">
                  Saved 
                </ion-segment-button>
                <ion-segment-button value="messages" id= "mailbox">
                    <ion-icon name="mail"></ion-icon>
                </ion-segment-button>
              </ion-segment>
            </div>
            
            <div [ngSwitch]="profile">
              <ion-list *ngSwitchCase="'editprofile'">
                <ion-item>
                    <p> First Name </p>
                    <h2> {{ first_name }}  </h2> 
                </ion-item>
                <ion-item>
                    <p> Last Name </p>
                    <h2> {{ last_name }}  </h2> 
                </ion-item>
                <ion-item>
                    <p> Email </p>
                  <h2> {{ email }}  </h2>
                </ion-item>


             <div padding>
                <button ion-button (click)= "editProfile()"> Edit </button>
               <button ion-button  (click)= "logout()"> Log Out </button>
               </div>
              </ion-list>

              <div *ngSwitchCase= "savedlist">
              <ion-list *ngFor= "let property of savedProperties">
                <ion-card>
                  <img src = {{property.image}}
                  style = "width:450px;height:300px;"/>
                  <ion-card-title>
                      {{property.address}}
                  </ion-card-title>
                  <p>
                      {{property.description}}
                  </p>
              
              </ion-card>
              </ion-list>
            </div>
            
            
              <ion-list *ngSwitchCase="'messages'">
                <ion-item>
                  <button clear color="dark" ion-button> Inbox </button>
                </ion-item>
                <ion-item>
                  <button clear color="dark" ion-button> Sent </button>
                </ion-item>
                
              </ion-list>

              <ion-list *ngSwitchCase= "'payments'">
                <ion-item>
                  <button ion-button block color = "dark"> Set up a Renewing Payment Plan   
                    </button>
                </ion-item>
                  
                <ion-item>
                    <button ion-button block color = "dark"> Set up a One-time Payment Plan   
                    </button>
                  </ion-item>

                <ion-item>
                    <button ion-button block color = "dark" (click) =  "navigateToPaymentHistory()"> View Payment History</button>
                </ion-item>
              </ion-list>
            </div>
        
            
    

      </ion-content>