<ion-header>
        <ion-navbar>
          <ion-title>
            My Account
          </ion-title>
        </ion-navbar>
      </ion-header>
      
      <ion-content padding center>
          <!--
        <div class="round-button"><div class="round-button-circle"> 
          <ion-icon center name="ios-contact-outline" default id= "profileImg"> </ion-icon>
          </div>
        </div>
      -->
      
      <!--
      <div class="profilepic-border" align="center">
          <button class="profilebutton" ng-click="upload()">
            <ion-icon name="ios-camera" ></ion-icon>
          </button>
          <img class="profilepic" padding-bottom ng-src="ios-contact-outline" ng-click="upload()">
        </div>

      -->


            <ion-icon center name="ios-contact-outline" default id= "profileImg"> </ion-icon>
         

            <button ion-button round color="light" icon-only id= "addProfilePic" ><ion-icon name="add" small  ></ion-icon> </button>
        
          <div padding>
              <ion-segment [(ngModel)]="profile">
                <ion-segment-button value="editprofile" id= "editprofile">
                  Edit Profile 
                </ion-segment-button>
                <ion-segment-button value="payments" id= "payment">
                  Payments
                </ion-segment-button>
                <ion-segment-button value="saved" id= "savedlist">
                  Saved Properties
                </ion-segment-button>
                <ion-segment-button value="messages" id= "mailbox">
                    <ion-icon name="mail"></ion-icon>
                </ion-segment-button>
              </ion-segment>
            </div>
            
            <div [ngSwitch]="profile">
              <ion-list *ngSwitchCase="'editprofile'">
                <ion-item>
                    {{ user.first_name }}
                    {{ email }}
                </ion-item>
                <ion-item>
                    <p> Last Name </p>
                    <h2> {{ last_name }}  </h2> 
                </ion-item>
                <ion-item>
                    <p> Email </p>
                  <h2> {{ email }}  </h2>
                </ion-item>


             <div padding>
                <button ion-button (click)= "editProfile()"> Edit </button>
               <button ion-button  (click)= "logout()"> Log Out </button>
               </div>
              </ion-list>

              <div *ngSwitchCase= "savedlist">
              <ion-list *ngFor= "let property of savedProperties">
                <ion-card>
                  <img src = {{property.image}}
                  style = "width:450px;height:300px;"/>
                  <ion-card-title>
                      {{property.address}}
                  </ion-card-title>
                  <p>
                      {{property.description}}
                  </p>
              
              </ion-card>
              </ion-list>
            </div>
            
            
              <ion-list *ngSwitchCase="'messages'">
                <ion-item>
                  <button clear color="dark" ion-button> Inbox </button>
                </ion-item>
                <ion-item>
                  <button clear color="dark" ion-button> Sent </button>
                </ion-item>
                
              </ion-list>

              <ion-list *ngSwitchCase= "'payments'">
                <ion-item>
                  <button ion-button block color = "dark"> Set up a Renewing Payment Plan   
                      <ion-icon end ios="ios-add-circle" md="md-add-circle"></ion-icon>
                    </button>
                </ion-item>
                  
                <ion-item>
                    <button ion-button block color = "dark"> Set up a One-time Payment Plan   
                        <ion-icon end ios="ios-add-circle" md="md-add-circle"></ion-icon>
                    </button>
                  </ion-item>

                <ion-item>
                    <button ion-button block color = "dark" (click) =  "navigateToPaymentHistory()"> View Payment History</button>
                </ion-item>
              </ion-list>
            </div>
        
            
    

      </ion-content>