

page-registration {

    $button-color: rgb(145, 68, 53);
    .button { 

    padding-bottom: 100%;
    border-radius: 50%;
    border:10px solid rgb(223, 193, 193);
    overflow:hidden;
        
    background: rgb(133, 57, 57); 
    box-shadow: 0 0 3px rgb(187, 139, 139);
    display:block;
    float:left;
    width:100%;
    padding-top:50%;
    padding-bottom:50%;
    line-height:1em;
    margin-top:-0.5em;
        
    text-align:center;
    color:#e2eaf3;
    font-family: Verdana; 
    font-size:1.2em;
    font-weight:bold;
    text-decoration:none;
    }
}


