

page-registration {

    $button-color: rgb(161, 192, 219);
    .button { 

    padding-bottom: 100%;
    border-radius: 50%;
    border:10px solid rgb(143, 166, 187);
    overflow:hidden;
        
    background: rgba(175, 205, 231, 0.87); 
    box-shadow: 0 0 3px rgb(193, 209, 223);
    display:block;
    float:left;
    width:100%;
    padding-top:50%;
    padding-bottom:50%;
    line-height:1em;
    margin-top:-0.5em;
        
    text-align:center;
    color:#eff3f8;
    font-family: Verdana; 
    font-size:1.4em;
    font-weight:bold;
    text-decoration:none;
    }
}


