page-home {

    /*
    .background,.background .pane , .background .item , .background .item-complex .item-content{
        background-color:rgba(186, 217, 219, 0.486);
    }
    */

    
    .toolbar-background {
        background-color: #5d74a7;
      }

      #logo {
          display: flex;
          justify-content: center;
      }
}
