page-add-product {
    #input {
        background-color: #81a1e763;
        border: 1px solid #e6e9ee;
        border-radius: 2px;
        padding: 5px;
        text-align: center;
      }
      .toolbar-background {
        background-color: #5d74a7ad;
      }
      #next-button {
        color: rgba(0, 0, 0, 0.87);
        align-content: right;
        text-align: right;
        
      } 
      #skipbutton {
        align-content: right;
        text-align: right;
      }

}


