page-add-product {
    $grid-breakpoints: (
        sm: 0,
        md: 768px,
        lg: 1024px
      );
      
      $grid-max-widths: (
        sm: 420px,
        md: 720px,
        lg: 960px
      );
}
