page-details {
    .toolbar-background {
        background-color: #5d74a7ad;
      }

    #address {
        font-weight: strong;
        font-family: Gill Sans, sans-serif; 
    }
    #text {
        font-family: Gill Sans, sans-serif; 
    }
}
