page-details {

    #background {
        background-color:rgba(186, 217, 219, 0.521);
    }

    .toolbar-background {
        background-color: #7387b37c;
      }

    #address {
        font-weight: strong;
        font-family: Gill Sans, sans-serif; 
    }
    #text {
        font-family: Gill Sans, sans-serif; 
    }

    #small-text {
        font-family: Gill Sans, sans-serif; 
        font-weight: light;
        display: flex;
        justify-content: center;
    }
}
